@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    font-family: "Rubik", sans-serif;
}


/* ?variables */
:root {
    --primary-font-color: #7c7272;
    --primary-text-color: #111111;
    --secondary-color: #000000;
}

.indicators {
    margin-top: -20px !important;
}